body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.landing-page {
  width: 100%;
  height: 100vh;
  background-image: url("./jasa2montaza\ 2.png");
  background-size: cover;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 40px;
}
.nav > ul {
  display: flex;
  gap: 30px;
  position: relative;
  float: right;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: white;
}

.header-text {
  color: white;
  position: absolute;
  bottom: 0px;
}
.header-text {
  font-weight: 700;
  font-size: 20px;
  width: 925px;
  padding-left: 294px;
  padding: 75px;

  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.earth-text {
  display: flex;
  justify-content: space-around;
  background-color: black;

  background-image: url(./francesco-ungaro-jqKS0ET-wGE-unsplash.jpg);
  background-size: 100% 100%;
}

.text {
  color: white;
  padding-left: 75px;
  display: flex;
  flex-direction: column;
  gap: 65px;
  width: 550px;
  padding-top: 193px;
}
.h1 {
  font-weight: 700;
  font-size: 20px;
}
.paragraf {
  font-weight: 450;
}

.barba {
  background-image: url(./francesco-ungaro-jqKS0ET-wGE-unsplash.jpg);
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  height: 700px;
}
.pic {
  padding-left: 153px;
}

.prijava {
  color: white;
  width: 450px;
}

button {
  background-color: rgba(212, 239, 252, 1);
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  margin-top: 15px;
}

button:hover {
  background-color: rgb(253, 253, 253);
  transition: 0.3s ease-in;
}

.filter {
  background-image: url("./montaza3\ 1.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.filter-text {
  padding-left: 110px;
  width: 555px;
  color: white;
}
